.Home > img {
    margin-top: 30px;
	width: 50%;
}

.dessert {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 150px;
    height: 60px;
    overflow: auto;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}